<div class="wrapper">

  <button class="backbutton" routerLink="/foodcatalogue">x</button>


  <div class="textmove">
  <h1 align="center">About Us</h1>

  <p align="center">
    At foodfesta, we've revolutionized the way you order your favorite meals.
    <br />
    Just like McDonald's or KFC, our system allows you to conveniently select
    and customize your order <br />
    through a user-friendly system:
  </p>
  <br />
  <p class="para1">
    Simple Interface: <br /><br />
    Our ordering system features a straightforward interface <br />
    designed for ease of use. <br />
    Whether you're a tech-savvy individual or new to ordering through <br />
    machines, you'll find our system intuitive and user-friendly.
  </p>
  <br />
  <p class="para2">
    Order Accuracy: <br /><br />
    Say goodbye to misunderstandings or incorrect orders. <br />
    Our system ensures precise communication of your order <br />
    to our kitchen staff, minimizing errors and ensuring that you receive <br />
    exactly what you asked for, every time.
  </p>
  <br />
  <p class="para3">
    Convenience: <br /><br />
    Our ordering machines are available 24/7, allowing you to place your order
    <br />
    at any time that suits you. Whether you're craving a late-night snack <br />
    or planning a meal on the go, FastOrder is always ready to serve you.

    <br><br>
    So if ever there was a way to get the orders you wanted quicker and more efficiently... <br> this couldnt get any simpiler
  </p>
  

  <br />

  <div class="para3">
    <img
      src="assets/images/food.icons/5d9b5ef8542771693cd0c744c910cda7.jpg"
      alt=""
    />
  </div>
  <div class="para2">
    <img src="assets/images/food.icons/sandwich.jpg" alt="" />
  </div>
  <div class="para4">
    <img src="  assets/images/food.icons/coffee break.jpg" alt="" />

    <p align="center" class="title"><i>foodfesta@2024</i></p>

    <p class="para6">A customize order creator: <br><br> this allows users to create their own  <br>orders that they would/might like to see... <br> the next time they visit as a selction to <br> their order the next time they want to order</p>
  </div>

  <!--<img src="assets/images/food.icons/avocado img.jpg" alt="">-->
</div>
</div>
