
<h2 align="center">Rate the Food</h2>
<div class="box"><h3 align="center">How was the service/food?</h3>
    <p align="center" class="text">your feedback matters as we take pride <br> in our services we offer</p>

<div class="oval" > <div class="move"><span class="angry-face">😡</span><span class="okay">😐</span> <span class="love">😍</span> <span class="estatic">😁</span> <span class="mindblown">🤯</span>
</div>
</div>
<p align="center" class="text2" >Leave your comments below</p>
<input type="text" align="center">


</div>

<button (click)="submitFeedback()">Submit</button>

